@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.text_nav_home{
    font-family:'Great Vibes', cursive;
    color: #CC3366;
    font-size: 40px;
    text-decoration:none;
  }
.list{
    background-color: #000;
    opacity: 70%;
    height: 60px;
    border-radius: 5px 5px 0px 0px;
    
}
.list_data{
    color: #393939;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.144) 3px 5px;   
}
.img_inicio{
    justify-content: right;
  display: flex;
}
.subtit{
    color: #663300;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.venc{
    background-color: #0000002c;
    color: #663300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.venc_txt{
    color: #393939;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.tittle_small{
    color: #663300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.img_invent{
    border: #000 1px solid ;
    border-radius: 5px;
}
.edit{
    float: right;
    background-color: #CC3366;
    opacity: 80%;
    box-shadow: 2px 3px rgba(0, 0, 0, 0.466);
    border-radius: 14px;
    border: 0;
}
.carta{
    background-color:#6633003f;
    border-radius: 8px;
    color: #393939;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.input_carta{
    color: #393939;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}